<!DOCTYPE>
<html>

<head>
    <title>TalData</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="//code.highcharts.com/highcharts.js"></script>
    <script src="//code.highcharts.com/modules/exporting.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/search.css?v={{css_version}}" type="text/css">
</head>
<script type="application/javascript">
    function onReady(callback) {
        var intervalID = window.setInterval(checkReady, 1000);

        function checkReady() {
            if (document.getElementsByTagName('body')[0] !== undefined) {
                window.clearInterval(intervalID);
                callback.call(this);
            }
        }
    }

    function show(id, value) {
        document.getElementById(id).style.display = value ? 'block' : 'none';
    }

    onReady(function () {
        show('container', true);
        show('loading', false);
    });
    
    $(function () {
        $('a[href="#search"]').on('click', function(event) {
            event.preventDefault();
            $('#search').addClass('open');
            $('#search > form > input[type="search"]').focus();
        });
        
        $('#search, #search button.close').on('click keyup', function(event) {
            if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
                $(this).removeClass('open');
            }
        });
        
        
        //Do not include! This prevents the form from submitting for DEMO purposes only!
        /*
        $('form').submit(function(event) {
            event.preventDefault();
            console.log(event);
            return false;
        })
        */
    });
    
    window.onbeforeunload = function (e) {
        show('loading', true);
    };



    function convertToMillisec(dateString){
        return Date.parse(dateString);
    }
    var dataList = {{json_data|raw}};
    
    $( document ).ready(function() {
        var dates= [];
        var balances = [];
        for(row in dataList){
            dates.push(convertToMillisec(dataList[row].fetched_at));
            balances.push(parseFloat(dataList[row].balance));
        }
        $('#container').highcharts({
            title: {
                text: 'Tallinja Details for card #{{card}}'
            },
            xAxis: {
                type: 'datetime',
                labels: {
                    formatter: function() {
                        return Highcharts.dateFormat('%a %d %b', this.value);
                    }
                },
                categories: dates
            },
            series: [{
                name: "card #{{card}}",
                data: balances
            }]
        });
    });

</script>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./">Tallinja Data</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="./">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#search">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>



    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Tallinja data for # {{card}} </h1></div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <th>Balance</th>
                        <th>Fetched At</th>
                    </thead>
                    {% for row in results %}
                    <tr>
                        <td>{{row.balance}}</td>
                        <td>{{row.fetched_at}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div id="container" style="min-width: 300px; height: 300px; margin: 1em"></div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Random Talljnia data</h1></div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <th>Card #</th>
                        <th>Balance</th>
                        <th>Fetched At</th>
                    </thead>
                    {% for row in randoms %}
                    <tr>
                        <td><a href="./?c={{row.card_number}}">{{row.card_number}}</a></td>
                        <td>{{row.balance}}</td>
                        <td>{{row.fetched_at}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Richest Tallinja data</h1></div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <th>Card #</th>
                        <th>Balance</th>
                        <th>Fetched At</th>
                    </thead>
                    <tr>
                        <td>{{highest.card_number}}</td>
                        <td>{{highest.balance}}</td>
                        <td>{{highest.fetched_at}}</td>
                    </tr>
                </table>
            </div>
        </div>



    </div>

    <div id="search">
        <button type="button" class="close">×</button>
        <form action="./" method="GET">
            <input type="search" value="" name="c" autocomplete="off" placeholder="type tallinja card number here" />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <div id="loading"></div>
</body>
<html>